[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
enquiries = "*"
click = "*"
python-dateutil = "*"
aioconsole = "*"
prompt-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.9"
